<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <description>debug web.xml</description>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
  <!--
  <servlet>
    <description></description>
    <display-name>Aufgaben_DB</display-name>
    <servlet-name>Aufgaben_DB</servlet-name>
    <servlet-class>aufgaben_db.Aufgaben_DB</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Aufgaben_DB</servlet-name>
    <url-pattern>/Aufgaben_DB</url-pattern>
  </servlet-mapping>
  -->
</web-app>